<div class="Caja">
  <div class="Caja-header">
      <table>
          <tr>
              <td class="caja1">
                  <p class="nombre">{{nombre}} </p>
                  <p>{{misionVida}}</p>
              </td>
              <td class="caja2">
                  <img class="imagen sombra" src={{foto}} width="150" height="150" >
              </td>
              <td class="caja3">
                  <ul class="ul">
                      <li>{{email}}</li>
                      <li>{{cel}}</li>
                      <li>{{ciudad+", "+pais}}</li>
                      <li>{{titulo.titulo1}}</li>
                      <li>{{titulo.grado1}}</li>
                  </ul>
              </td>
          </tr>
      </table>
      <div class="barra"></div>
  </div>
</div>
