.Caja {
  width: 135%;
  box-shadow: 0 3px 10px rgba(7, 7, 7, 0.1);
  background-color: #c7cfc7;
  font-family: 'Arial', sans-serif;
  color: #0e0d0d;
  margin-bottom: 20px;
  padding: 10px;
}

/* Estilos específicos para las clases */

.titulo{
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.puesto{
  font-size: 25px;
  color: #000000;
}

.empresa{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}



.sombra {
  box-shadow: 0 2px 5px rgba(240, 113, 113, 0.1);
}
