.Contenedor_Principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;
}

.Contenedor_Secundario {
  margin-top: 5%;
  width: 80%;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;
  padding: 15px;
}

i.fa {
  color: #A5A5A5;
  font-size: 18px;
  margin-right: 10px;
}

app-header {
  display: block;
  width: 100%;
}

app-work-experience {
  display: block;
  width: 100%;
}
app-skills {
  display: block;
  width: 100%;
}
app-certificate {
  display: block;
  width: 100%;
}
app-interest {
  display: block;
  width: 100%;
}
